
<% unless @product.tweets.empty? %>
<div class='twitter-feed'>
<ul>
<% @product.tweets.each do |tweet| %>
    <li class='tweet clearfix clear container'>
      <div class='avatar col-xs-3'>
        <img src="<%=tweet.user.profile_image_url %>">
      </div>
      <div class='tweet-content col-xs-9'>
        <div class='tweet-header'>
        <%= link_to "http://twitter.com/#{tweet.user.screen_name}" do %>
          <span class='name'><%= tweet.user.name %></span> <span class='nickname'>@<%= tweet.user.screen_name %></span>
        <% end %>
          <!-- 26m -->
        </div>
          <p>
            <%=  format_tweet(tweet).html_safe %>
          </p>
          <% unless tweet.medias.empty? %>
            <ul class='tweet-images text-center'>
              <% tweet.medias.each do |media| %>
                <li><%= link_to image_tag("#{media.media_url}:thumb"),  media.url, target: '_blank' %></li>
              <% end %>
            </ul>
          <% end %>
        <div class='tweet-footer text-right'>
          <i class='glyphicon glyphicon-retweet'></i> <%= tweet.retweet_count %>  
          <i class='glyphicon glyphicon-star'></i> <%= tweet.favorite_count %>  
        </div>
      </div>
      
    </li>
<% end %>
</ul>
</div>
<% end %>